<header>
  <nav class="navbar navbar-expand-lg bg-white border-bottom">
    <div class="container">
      <a class="navbar-brand fw-semibold" href="/">School Resources</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNav"
        aria-controls="mainNav"
        aria-expanded="false"
        aria-label="Превключване на навигация"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto gap-lg-2">
          <li class="nav-item"><a class="nav-link" href="/">Начало</a></li>
          <li class="nav-item"><a class="nav-link" href="/classes">Класове</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">За училището</a></li>
          <li class="nav-item"><a class="nav-link" href="/contacts">Контакти</a></li>
          <li class="nav-item"><a class="nav-link" href="/news">Новини</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
